<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/savestudent" href="#">SaveStudent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >GetStudent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DeleteStudent</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 